nav{
    width: 10rem;
}

.icon-img{
    width: 1.5rem;
}

.intro-container{
   justify-content: space-around;
   max-width: 100%
}

.intro-text{
    height: 14rem;
    margin: 1rem;
    margin-left: 4rem;
    width: 30rem;
}

.intro-img{
    width: 26.5rem;
}

.text-highlight{
    color: var(--clr-primary);
}

.link-btn{
    background-color: var(--clr-primary);
    border: none;
    border-radius: 3px;
    color: var(--clr-white);
    font-size: 1rem;
    margin: 1rem 0;
    padding: 8px;
    width: fit-content;
}

.link-btn:hover{
    color: var(--clr-white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

a:hover, i:hover{
    color: var(--clr-primary);
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}