.rules-container{
    justify-content: center;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 80vh;
    padding: 8px 2rem;
    text-align: justify;
    margin-top: 1rem;
    width: 30rem;
}

.rules{
    height:45vh;
}

@media (max-width:940px){
    .rules-container{
        width: 95%;
    }
}