.score-container{
    background-color: var(--clr-secondary);
    border-radius: 1rem;
    width: 30rem;
    height: 27rem;
    margin: auto;
}

.score-img{
    margin: 1rem 0;
    width: 10rem;
}

.mg-5{
    margin: 5rem;
}

@media (max-width:460px){
    .score-container{
        width: 80%;
    }
}